@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.toggleField:hover {
  cursor: pointer;
}
.navBar {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.main {
  margin-top: 3rem;
}
.cardSection {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 4rem;
  align-items: center;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  transition: 0.4s;
  text-decoration: none;
}
.card:hover {
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
